.about {
  position: relative;
  height: 100%;
  .title {
    margin-bottom: 3.073vw;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(39, 39, 39, 0.1)), url(../img/about-bg.png);
    mix-blend-mode: hard-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &__wrapper {
    padding: 3.646vw 0vw;
    background-color: #272727;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__content {
    max-width: 35vw;
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1.563vw;
    }
  }

  &__num {
    font-family: var(--font-family-BonaNova);
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 3.75vw;
    color: var(--oil-color);
    margin-right: 2.5vw;
    font-feature-settings: "pnum" on, "lnum" on;
  }

  &__text {
    color: var(--light-color);
    font-weight: 300;
    font-size: 1.302vw;
    line-height: 1.771vw;
    span {
      font-weight: 700;
    }
  }
}

.about-images {
  position: relative;
}
.about-radius {
  width: 30.833vw;
  height: 30.833vw;
  border: 0.104vw solid #969879;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  animation: 20s rotate-wrapper linear infinite;
}
.about-radius__wrapper {
  position: relative;
  width: 14.583vw;
  height: 14.583vw;
  overflow: hidden;
  margin-top: -20%;
  border-radius: 100%;
  animation: 20s rotate-moon linear infinite;
}
.about-radius__moon {
  width: 14.583vw;
  height: 14.583vw;
  transition: all 5s ease-in-out;
}

.about-radius__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.583vw;
  height: 14.583vw;
  background: #101010;
  border-radius: 100%;
  transform: translateX(-100%);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(39, 39, 39, 0.9);
  -moz-box-shadow: 0px 0px 20px 2px rgba(39, 39, 39, 0.9);
  box-shadow: 0px 0px 20px 2px rgba(39, 39, 39, 0.9);
  opacity: 0.95;
  animation: 10s shadow linear infinite;
}

.about-radius__statue {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.698vw;
  height: 46.198vw;
}

@keyframes shadow {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotate-wrapper {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-moon {
  0% {
    transform: rotate(0deg);
    width: 14vw;
    height: 14vw;
  }

  50% {
    width: 6.167vw;
    height: 6.167vw;
    margin-top: -10%;
  }

  100% {
    transform: rotate(-360deg);
    width: 14vw;
    height: 14vw;
  }
}
