.about {
  position: relative;
  height: 100%;
  .title {
    margin-bottom: 3.073vw;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(39, 39, 39, 0.1)),
      url(../img/about-bg2.png);
    mix-blend-mode: hard-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &__wrapper {
    padding: 3.646vw 0vw;
    background-color: #272727;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__images {
    position: relative;
    transform: translate(6vw, 3vw);
  }

  &__content {
    max-width: 35vw;
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1.563vw;
    }
  }

  &__num {
    font-family: var(--font-family-BonaNova);
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 3.75vw;
    color: var(--oil-color);
    margin-right: 2.5vw;
    font-feature-settings: "pnum" on, "lnum" on;
  }

  &__text {
    color: var(--light-color);
    font-weight: 300;
    font-size: 1.302vw;
    line-height: 1.771vw;
    span {
      font-weight: 700;
    }
  }
}

.about-statue {
  width: 18.698vw;
  height: 43.198vw;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}
.about-moon {
  position: absolute;
  top: 0%;
  left: 17%;
  width: 12vw;
  height: 12vw;
  z-index: -1;
  transform-origin: 6vw 18.3vw;
  animation: moom-rotate 10s infinite linear;
  overflow: hidden;
  border-radius: 50%;
}

.about-moom__el {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.208vw;
  height: 10.208vw;
  background-color: #272727;
  border-radius: 50%;
  transform: translate(0, 0);
  animation: moom-el 10s infinite linear;
  animation-direction: alternate;
  z-index: 2;
}

.about-circle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 28.833vw;
  height: 28.833vw;
  border-radius: 100%;
  border: 0.104vw solid var(--oil-color);
  z-index: -2;
}

@keyframes moom-rotate {
  0% {
    width: 12vw;
    height: 12vw;
  }
  50% {
    width: 7vw;
    height: 7vw;
  }
  100% {
    transform: rotate(360deg);
    width: 12vw;
    height: 12vw;
  }
}

@keyframes moom-el {
  0% {
    left: 4vw;
    top: 3vw;
  }
  50% {
    left: 10vw;
    top: 4vw;
  }

  100% {
    left: -6vw;
    top: 3vw;
  }
}
