.authors {
  .title {
    margin-bottom: 1.042vw;
  }
  &__text {
    font-weight: 600;
    font-size: 1.823vw;
    line-height: 2.344vw;
    color: var(--light-color);
    margin-bottom: 5.208vw;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}

.author-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: var(--light-color);
  align-items: center;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    margin-bottom: 5.208vw;
  }
}
.author-descr {
  position: relative;
}
.author-name {
  font-weight: 700;
  font-size: 2.604vw;
  line-height: 3.542vw;
  margin-bottom: 1.563vw;
}
.authors-text {
  font-weight: 300;
  font-size: 1.202vw;
  line-height: 1.771vw;
  span {
    font-weight: 700;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1.563vw;
    }
  }
}

.author-images {
  &__frame {
    position: relative;
    -webkit-box-shadow: 1.823vw 1.771vw 1.823vw 0vw rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1.823vw 1.771vw 1.823vw 0vw rgba(0, 0, 0, 0.3);
    box-shadow: 1.823vw 1.771vw 1.823vw 0vw rgba(0, 0, 0, 0.3);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    background: radial-gradient(
      83.29% 83.29% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        83.29% 83.29% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
    }
  }

  &__img {
    position: absolute;
  }

  &__item {
    background-color: var(--oil-color);
    border: 0.1vw solid var(--light-color);
    transition: all 0.4s ease-out;
  }
}

.author-decor {
  position: absolute;
}

.author-item:nth-child(2n + 1) .author-images__frame {
  width: 34.583vw;
  height: 28.125vw;
  .author-images__img {
    top: 51%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    width: 24.4vw;
    height: auto;
  }

  .author-images__items {
    width: 24.8vw;
    height: 18.4vw;
  }
}

.author-item:nth-child(2n) .author-images__frame {
  width: 35.208vw;
  height: 28.021vw;

  .author-images__img {
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29vw;
    height: auto;
  }

  .author-images__items {
    width: 28.9vw;
    height: 21.7vw;
  }

  .author-decor {
    position: absolute;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.author-item:nth-child(2n) .author-descr {
  margin-left: 2.5vw;
}

.author-item:nth-child(2n + 1) .author-descr {
  margin-right: 1vw;
}

.author-item:nth-child(2n) .author-decor {
  bottom: 0vw;
  right: -4vw;
  width: 19.74vw;
  height: 14.48vw;
}

.author-item:nth-child(2n + 1) .author-decor {
  bottom: -10vw;
  left: -9vw;
  width: 18.594vw;
  height: 22.24vw;
}

.change {
  background-color: transparent;
  transition: all 0.4s ease-out;
}

.change-border {
  border: 0.1vw solid transparent;
  transition: all 0.4s ease-out;
}
