.offers {
  padding: 8.854vw 0vw 11vw;
  position: relative;
  .title {
    margin-bottom: 1.042vw;
  }
  &__text {
    font-weight: 600;
    font-size: 1.823vw;
    line-height: 2.344vw;
    color: var(--light-color);
    margin-bottom: 2.604vw;
  }

  &__items {
    margin-bottom: 2.865vw;
    width: 38.854vw;
  }

  &__image {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
    width: 52.969vw;
    height: 57.552vw;
    img {
      width: 100%;
      height: 100%;
      object-position: 100%;
    }
  }
}

.offer-item {
  display: flex;
  align-items: center;
  width: 28vw;
  &:first-of-type {
    width: auto;
  }
  &:not(:last-child) {
    margin-bottom: 1.302vw;
  }
}

.offer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.208vw;
  height: 5.208vw;
  background-color: var(--oil-dark-color);
  border-radius: 0.781vw;
  margin-right: 0.833vw;
  svg {
    width: auto;
    height: 3.125vw;
    fill: var(--light-color);
  }
}
.offer-descr {
  font-size: 1.302vw;
  line-height: 1.771vw;
  color: var(--light-color);
}
