<section class="about">
  <div class="about__wrapper">
    <div class="container">
      <div class="about__inner">
        <div class="about-images">
          <div class="about-radius">
            <div class="about-radius__wrapper">
              <picture>
                <source srcset="img/moon.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/moon.png"
                  class="image about-radius__moon"
                  alt="Moon"
                />
              </picture>
              <div class="about-radius__shadow"></div>
            </div>
          </div>
          <picture>
            <source srcset="img/about-statue.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/about-statue.png"
              class="image about-radius__statue"
              alt="Statue"
            />
          </picture>
        </div>

        <div class="about__content">
          <h2 class="title">О проекте</h2>
          <div class="about__items">
            <div class="about__item">
              <span class="about__num">01</span>
              <p class="about__text">
                В наше время одной из наболевших тем является
                <span>похудение</span>. Многие стремятся за трендами,
                <span>быстрыми результатами</span>. Проанализировав причины
                срывов и стереотипного подхода к сбросу лишнего веса, поняли,
                что для многих это - борьба.
              </p>
            </div>
            <div class="about__item">
              <span class="about__num">02</span>
              <p class="about__text">
                Мы решили собрать в единое 2 сферы:
                <span>астрологию и диетологию</span>. На основании вашей даты
                рождения вы приобретаете комфортную среду для счастливого темпа
                жизни. Наш проект поможет соединить процессы Вселенной с Вашими
                личными биоритмами. Больше
                <span>не придется строго ограничивать себя</span>, а довериться
                природе.
              </p>
            </div>
            <div class="about__item">
              <span class="about__num">03</span>
              <p class="about__text">
                Мы хотим помочь открыть в себе
                <span>свой уникальный вкус к жизни</span>. Ведь вы и есть
                уникальное совершенство.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
