<section class="authors" id="authors">
  <div class="container">
    <h2 class="title">Об Авторе</h2>
    <p class="authors__text">
      Создатель авторского проекта The unique taste Ирина Соминская и диетолог -
      нутрициолог Алена Плетнева
    </p>
    <div class="authors__items">
      <div class="author-item">
        <div class="author-descr">
          <h3 class="author-name">Ирина Соминская</h3>
          <div class="authors-text">
            <p>
              <span>Астролог</span>, опыт работы <span>более 7 лет</span>.
              <br />
              Отдаю предпочтение темам трансформации <span>личности</span>,
              выявления <span>талантов</span>, скрытых
              <span>способностей</span>, а также причины возникновения кризисных
              и сложных ситуаций.
            </p>
            <p>
              Перед запуском были изучены более 100 человек на тему
              <span>отношения к еде</span> и психологического комфорта.
            </p>
            <p>
              С каждой консультацией я понимаю, насколько человеческая
              <span>жизнь уникальна</span>. Включите свою уникальность на 100%.
            </p>
          </div>
        </div>
        <div class="author-images">
          <div class="author-images__frame">
            <picture>
              <source srcset="img/author-frame1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/author-frame1.png"
                class="image"
                alt="Frame"
              />
            </picture>
            <div class="author-images__img">
              <picture>
                <source srcset="img/author-image1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/author-image1.png"
                  class="image"
                  alt="Image"
                />
              </picture>
            </div>
            <div class="author-images__items">
              <div class="author-images__item author-first"></div>
              <div class="author-images__item author-second"></div>
              <div class="author-images__item author-third"></div>
              <div class="author-images__item author-fourth"></div>
              <div class="author-images__item author-fifth"></div>
              <div class="author-images__item author-sixth"></div>
              <div class="author-images__item author-seventh"></div>
              <div class="author-images__item author-nineth"></div>
              <div class="author-images__item author-tenth"></div>
            </div>
          </div>
        </div>
        <div class="author-decor">
          <picture>
            <source srcset="img/author-bg1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/author-bg1.png"
              class="image"
              alt="Image"
            />
          </picture>
        </div>
      </div>

      <div class="author-item">
        <div class="author-descr">
          <h3 class="author-name">Алена Плетнева</h3>
          <div class="authors-text">
            <p>
              <span>Диетолог - нутрициолог</span>, опыт работы
              <span>более 10 лет</span>. <br />
              А также терапевт по питанию, <span>иммунодиетолог</span>, детский
              <span>нутрициолог</span>, ПП-кондитер.
            </p>
            <p>
              Работа с <span>коррекцией питания</span> и веса, прививание
              <span>здоровых привычек</span> без срывов и ущерба для здоровья,
              составление индивидуальной программы питания, помощь в подборе
              продуктов питания , расшифровка анализов, работа с пищевой
              непереносимостью, сопровождение пациента.
            </p>
          </div>
        </div>
        <div class="author-images">
          <div class="author-images__frame">
            <picture>
              <source srcset="img/author-frame2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/author-frame2.png"
                class="image author-images__frame-img"
                alt="Frame"
              />
            </picture>

            <div class="author-images__img">
              <picture>
                <source srcset="img/author-image2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/author-image2.png"
                  class="image"
                  alt="Image"
                />
              </picture>
            </div>

            <div class="author-images__items">
              <div class="author-images__item author-first"></div>
              <div class="author-images__item author-second"></div>
              <div class="author-images__item author-third"></div>
              <div class="author-images__item author-fourth"></div>
              <div class="author-images__item author-fifth"></div>
              <div class="author-images__item author-sixth"></div>
              <div class="author-images__item author-seventh"></div>
              <div class="author-images__item author-nineth"></div>
              <div class="author-images__item author-tenth"></div>
            </div>
          </div>
        </div>
        <div class="author-decor">
          <picture>
            <source srcset="img/author-bg2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/author-bg2.png"
              class="image"
              alt="Image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
