<section class="offers consultation">
  <div class="container">
    <div class="offers__items consultation__items" id="consultation">
      <h2 class="title">Online Консультации</h2>
      <p class="offers__text consultation__text">Что вас ждет:</p>
      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation1.png"
            class="image consultation-icon--main"
            alt="Icon"
          />
        </div>
        <p class="offer-descr consultation-descr">
          Разбор натальной карты <br />
          на тему питания
        </p>
      </div>

      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation2.png"
            class="image"
            alt="Icon"
          />
        </div>
        <p class="offer-descr consultation-descr">
          Анализ психологических привычек и расстройства питания
        </p>
      </div>

      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation3.png"
            class="image"
            alt="Icon"
          />
        </div>
        <p class="offer-descr">Определение талантов и способностей</p>
      </div>

      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation4.png"
            class="image"
            alt="Icon"
          />
        </div>
        <p class="offer-descr consultation-descr">
          Расшифровка медицинских <br />
          анализов
        </p>
      </div>

      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation5.png"
            class="image"
            alt="Icon"
          />
        </div>
        <p class="offer-descr consultation-descr">
          Помощь в подборе продуктов питания
        </p>
      </div>

      <div class="offer-item consultation-item">
        <div class="offer-icon consultation-icon">
          <img
            loading="lazy"
            src="img/consultation6.png"
            class="image"
            alt="Icon"
          />
        </div>
        <p class="offer-descr consultation-descr">
          Работа с пищевой <br />
          непереносимостью
        </p>
      </div>
    </div>

    <div class="hero__btns btns">
      <a href="#" class="hero__btn btn">
        <picture>
          <source srcset="img/apple.webp" type="image/webp" />
          <img loading="lazy" src="img/apple.png" class="image" alt="Apple" />
        </picture>
      </a>
      <a href="#" class="hero__btn btn">
        <picture>
          <source srcset="img/google.webp" type="image/webp" />
          <img loading="lazy" src="img/google.png" class="image" alt="Apple" />
        </picture>
      </a>
    </div>
  </div>
  <div class="offers__image consultation__image">
    <div class="consultation__image-bg">
      <picture>
        <source srcset="img/consultation-bg.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/consultation-bg.png"
          class="image consultation__image-bg--rotate"
          alt="Image"
        />
      </picture>
      <picture>
        <source srcset="img/consultation-statue.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/consultation-statue.png"
          class="image consultation__image-statue"
          alt="Image"
        />
      </picture>
    </div>
  </div>
</section>
