<section class="faq">
  <div class="container">
    <h2 class="title">F.A.Q. Вопросы</h2>

    <div class="accordion">
      <div class="accordion__items">
        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">Как работает метод?</h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Voluptates hic iure ad sapiente
              voluptas vel autem ducimus magnam minima reprehenderit eos ratione
              in atque consequuntur incidunt repellendus cum, officia
              voluptatum.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Я не верю в астрологию, как мне поможет ваш метод сбросить 10 кг?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Я мама и у меня 2 маленьких ребенка, буду ли я успевать готовить
              по Вашей методике?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Я очень люблю сладкое, надо ли отказываться от сладкого?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Ненавижу спорт, значит ли это, что мне придется заниматься
              физическими упражнениями?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Почему ваше лого - это груша?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              При каких противопоказаниях мне не подойдет данный метод?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">
            <h3 class="accordion__header-title">
              Я ошибся при регистрации и указал неправильно дату рождения, что
              делать?
            </h3>
          </div>

          <div class="accordion__body">
            <p class="accordion__body-text">
              На основании вашей даты рождения, программа рассчитывает основные
              показатели положения небесных тел в вашей карте и даёт
              рекомендации по питанию, подходящие именно вам, а диетолог
              предлагает вам план по питанию.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
