<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="#" class="footer-logo">
        <picture>
          <source srcset="img/logo.webp" type="image/webp" />
          <img loading="lazy" src="img/logo.png" class="image" alt="Logo" />
        </picture>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Миссия</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Консультация</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Об авторе</a>
          </li>
        </ul>
      </nav>
      <div class="footer-btns">
        <a href="#" class="footer-btn btn">
          <picture>
            <source srcset="img/footer-apple.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/footer-apple.png"
              class="image"
              alt="Apple"
            />
          </picture>
        </a>
        <a href="#" class="footer-btn btn">
          <picture>
            <source srcset="img/footer-google.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/footer-google.png"
              class="image"
              alt="Apple"
            />
          </picture>
        </a>
      </div>
    </div>
    <div class="footer__copyright copyright">
      <p class="copyright__text">© 2022 The unique taste</p>
    </div>
  </div>
</footer>
