<header class="header" data-scroll-header>
  <div class="container header__container">
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list list-reset" data-menu>
        <li class="nav__item">
          <a href="#mission" class="nav__link" data-menu-item>Миссия</a>
        </li>
        <li class="nav__item">
          <a href="#consultation" class="nav__link" data-menu-item
            >Консультации</a
          >
        </li>
        <li class="nav__item">
          <a href="#authors" class="nav__link" data-menu-item>Об авторе</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__logo">
      <picture>
        <source srcset="img/logo.webp" type="image/webp" />
        <img loading="lazy" src="img/logo.png" class="image" alt="Logo" />
      </picture>
    </a>
    <div class="header__lang">
      <select>
        <option>RUS</option>
        <option>ENG</option>
      </select>
    </div>
  </div>
</header>
