<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span>The</span>
        <span>unique</span>
        <span>taste</span>
      </h1>
      <h4 class="hero__subtitle">Вы и есть уникальное творение</h4>
      <p class="hero__text">
        С помощью астрологии мы научим вас наладить систему питания и
        сформировать комфортный образ жизни.
      </p>
      <div class="hero__btns">
        <a href="#" class="hero__btn btn">
          <picture>
            <source srcset="img/apple.webp" type="image/webp" />
            <img loading="lazy" src="img/apple.png" class="image" alt="Apple" />
          </picture>
        </a>
        <a href="#" class="hero__btn btn">
          <picture>
            <source srcset="img/google.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/google.png"
              class="image"
              alt="Apple"
            />
          </picture>
        </a>
      </div>
    </div>
    <div class="hero__image">
      <div class="hero__images-wrapper">
        <div class="statue__red-bg"></div>
        <picture>
          <source srcset="img/statue-bg.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/statue-bg.png"
            class="image statue-bg"
            alt="Statue bg"
          />
        </picture>
        <picture>
          <source srcset="img/statue.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/statue.png"
            class="image statue"
            alt="Statue"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
