<section class="mission">
  <div class="container">
    <h2 class="title">Миссия проекта</h2>

    <div class="mission__inner">
      <div class="mission__cards">
        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission1.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>01</span>
              <h4>Методология</h4>
            </div>
            <p class="card__content-text">
              Мы соединили астрологию и диетологию в систему, которая помогает
              подобрать правильный подход к питанию и прийти к сбалансированному
              образу жизни
            </p>
          </div>
        </div>

        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission2.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>02</span>
              <h4>Вкус</h4>
            </div>
            <p class="card__content-text">
              Вкус проявляется во всех сферах: к жизни, еде, телу... СЕБЕ. Мы
              хотим помочь каждому человеку обрести свой уникальный вкус к себе
              через повседневную жизни
            </p>
          </div>
        </div>

        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission3.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>03</span>
              <h4>Комфорт</h4>
            </div>
            <p class="card__content-text">
              Чтобы быть в зоне комфорта, нужно ее найти. Мы определим ваши
              физические и психологические особенности, чтобы помочь прийти к
              равновесию
            </p>
          </div>
        </div>

        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission4.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>04</span>
              <h4>Жизненный ритм</h4>
            </div>
            <p class="card__content-text">
              Наш метод способствует синхронизации жизни с биоритмами Вселенной,
              чтобы максимально эффективно использовать возможности для
              улучшения здоровья
            </p>
          </div>
        </div>

        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission5.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>05</span>
              <h4>Алгоритм питания</h4>
            </div>
            <p class="card__content-text">
              Предлагаем сбалансированный график питания наших специалистов, где
              силы природы станут вам союзниками
            </p>
          </div>
        </div>

        <div class="mission__card card">
          <div class="card__image">
            <picture>
              <source srcset="img/mission6.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/mission6.png"
                class="image"
                alt="Image"
              />
            </picture>
          </div>
          <div class="card__content">
            <div class="card__content-top">
              <span>06</span>
              <h4>Место силы</h4>
            </div>
            <p class="card__content-text">
              Вы узнаете свой личный источник, который придаст энергию душевной
              гармонии
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <picture>
    <source srcset="img/mission-bg.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/mission-bg.png"
      class="mission__bg image"
      alt="Bg"
    />
  </picture>
</section>
