<section class="offers">
  <div class="container">
    <div class="offers__items">
      <h2 class="title">Мы всегда рядом</h2>
      <p class="offers__text">
        Скачайте приложение и посмотрите, что мы для вас приготовили:
      </p>
      <div class="offer-item">
        <div class="offer-icon">
          <svg>
            <use xlink:href="img/sprite.svg#offer1"></use>
          </svg>
        </div>
        <p class="offer-descr">
          Советы диетолога и астролога по питанию и психологическому комфорту
        </p>
      </div>

      <div class="offer-item">
        <div class="offer-icon">
          <svg>
            <use xlink:href="img/sprite.svg#offer2"></use>
          </svg>
        </div>
        <p class="offer-descr">Анализ индивидуальной диета по фазам луны</p>
      </div>

      <div class="offer-item">
        <div class="offer-icon">
          <svg>
            <use xlink:href="img/sprite.svg#offer3"></use>
          </svg>
        </div>
        <p class="offer-descr">График питания с рецептами на месяц</p>
      </div>

      <div class="offer-item">
        <div class="offer-icon">
          <svg>
            <use xlink:href="img/sprite.svg#offer4"></use>
          </svg>
        </div>
        <p class="offer-descr">
          Личный прогноз <br />
          на каждый день
        </p>
      </div>

      <div class="offer-item">
        <div class="offer-icon">
          <svg>
            <use xlink:href="img/sprite.svg#offer5"></use>
          </svg>
        </div>
        <p class="offer-descr">
          Бесплатная расшифровка <br />
          по дате рождения
        </p>
      </div>
    </div>
    <div class="hero__btns btns">
      <a href="#" class="hero__btn btn">
        <picture>
          <source srcset="img/apple.webp" type="image/webp" />
          <img loading="lazy" src="img/apple.png" class="image" alt="Apple" />
        </picture>
      </a>
      <a href="#" class="hero__btn btn">
        <picture>
          <source srcset="img/google.webp" type="image/webp" />
          <img loading="lazy" src="img/google.png" class="image" alt="Apple" />
        </picture>
      </a>
    </div>
  </div>
  <div class="offers__image">
    <picture>
      <source srcset="img/offer-img.webp" type="image/webp" />
      <img loading="lazy" src="img/offer-img.png" class="image" alt="Image" />
    </picture>
  </div>
</section>
