// если вы хотите использовать sass-переменные - удалите root
:root {
  // base
  --font-family-NunitoSans: "NunitoSans", sans-serif;
  --font-family-HindSiliguri: "HindSiliguri", sans-serif;
  --font-family-BonaNova: "BonaNova", sans-serif;

  --container-width: 71.3vw;
  --container-offset: 0.781vw;

  // colors
  --light-color: #fff;
  --black-color: #272727;
  --red-color: #bc1d10;
  --oil-color: #969879;
  --oil-dark-color: #787963;
}
