// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/mission";
@import "./components/titles";
@import "./components/about";
@import "./components/offers";
@import "./components/authors";
@import "./components/consultation";
@import "./components/faq";
@import "./components/footer";
